@import "../../node_modules/kio-ng2-uiux/scss/utils";



.newsletter-form {
    padding: $row-gutter*2 0 ;

    background: $color-background-footer;

    .outer {
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 $column-gutter;
    }

    .inner {
        width: 100%;

        @media #{$medium-up} {
            width: column-calc(9);

        }
    }

    .header {
        padding: $row-gutter*2 0;
    }

    h2 {
        margin-bottom: $row-gutter*2;

        text-transform: uppercase;

        color: $color-font-bright;

        font-size: 2rem;

        @extend %default-sans-serif-black;
    }

    p {
        color: $color-font-bright;
    }


    .form-input {


        @media #{$medium-up} {
            display: flex;
        }

        input {
            width: 100%;
            margin-bottom: $row-gutter/2;
            padding: rem-calc(15) rem-calc(20);

            text-align: center;

            color: $color-font-dark;
            border: none;
            outline: none !important;
            background: $color-background-bright;

            font-size: rem-calc(22);

            @extend %default-sans-serif;

            @media #{$medium-up} {
                flex: 3;

                width: auto;

                text-align: left;
            }


        }

        button {
            width: 100%;
            margin-bottom: $row-gutter/2;
            padding: rem-calc(10);

            cursor: pointer;
            text-transform: uppercase;

            color: $color-font-bright;
            border: 1px solid $color-background-bright;
            border-radius: 0;
            background: transparent;

            font-size: rem-calc(18);
            @media #{$medium-up} {
                flex: 1;

                width: auto;
                margin: 0 $column-gutter $row-gutter/2;
            }

            &:hover,
            &:focus {
                color: $color-font-dark;
                background: $color-background-bright;
            }
        }
    }

    .form-error {
        padding-top: rem-calc(8);
    }
}
